<% @title = "利用者トップページ" %>
<%# <h1>hello world of user</h1> %>

<div class="top-page_container">

  <div class="left">
    <h1 class="title">新しいトイレの探し方してみませんか？</h1>
    <p class="explanation">toiletterは新しいトイレ探索アプリです。</p>
    <p class= "left_login-btn">
      <%= link_to "ログインして始める", "#", class: "login-btn" %>
  　</p>
  </div>

  <div class="right">
    <p class="image-1">
      <%= image_tag 'man_in_bathroom.png' %>  
    </p>
  </div>
  
  
</div>