<% @title = "利用者トップページ" %>
<% unless current_user %>
<div class="container user-top-container">  
  <div class="row">
    <div class="col-md-7 d-flex flex-column justify-content-around top-items">
     <div>
      <p class="title">新しいトイレの探し方、始めてみませんか？</p>
      <p class="explanation">toiletterは新しいトイレ探索アプリです。</p>
     </div>
      <p class="login-btn-wrapper">
        <%= link_to "ログインする", user_login_path, class: "login-btn" %>
     </p>
    </div>
    <div class="col-md-5">
     <div class="w-50 mx-auto">
       <%= image_tag 'man_in_bathroom.png', class: "img-fluid mx-auto d-block" %>  
     </div>
    </div>
  </div>
</div>
<% end %>

