.user_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left {
        width: 20%;
    }

    .right {
        font-size: 15px;
        width: 50%;
        margin-top: 0px;
        .header__ul {
            display: flex;
            justify-content: space-around;
        }
    }
}