@import "shared/dimensions";
@import "shared/colors";
@import "font-awesome";

// ヘッダー
.staff_header {
    position: fixed;
    top: 0;
    left: 0;
    height: $navheight;
    width: 100%;
    z-index: 99;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;

    // アイコン+アプリ名
    .left {
        font-family: 'Baloo Tammudu 2', cursive;
        font-size: 30px;
        width: 100%;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .link {
            color: $navy_blue;
        }

        .logo-mark {
            padding-top: 10px;
            margin: 0 auto;
            color: $navy_blue;
        }
    }

    .right {
        width: 100%;
        margin-top: -20px;
        font-size: 10px;
        font-weight: bolder;
        ul{
            padding-left: 0px;
            display: flex;
            flex-flow: row;
            justify-content: space-around;
            list-style: none;

            .header_link {
                position: relative;
	            display: inline-block;
                text-decoration: none;
                color: $navy_blue;
                transition: all .3s;
                &:hover {
                   transform: translateY(-5px);
                }
                &::after{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    content: '';
                    width: 0;
                    height: 3px;
                    background-color: $navy_blue;
                }
                &:hover::after{
                    width: 100%;
                }
            }

            .header_link {
                display: block;
                text-decoration: none;
                height:35px;
                width: 120px;
                line-height: 37px;
                text-align: center;
                color: #2bb6c1;
                border:solid 1px #2bb6c1;
                border-radius: 20px;
                -webkit-transition: 0.3s;
                -moz-transition: 0.3s;
                -o-transition: 0.3s;
                -ms-transition: 0.3s;
                transition: 0.3s;
                &:hover {
                    background: #2bb6c1;
                    color: #fff;
                }
            }
        }
    }
}
