<div class="container">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
          <h1>403 Forbidden</h1>
        </div>
        <div class="col-sm-12 d-flex justify-content-center">
            <h3>
                <%= case @exception
                    when ApplicationController::IpAddressRejected
                      "あなたのIPアドレス（#{request.ip}）からは利用できません。"
                    else
                      "指定されたページを閲覧する権限がありません。"
                    end
                %>
            </h3>
        </div>
    </div>
</div>