<div class="container">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
          <h1>500 Internal Server Error</h1>
        </div>
        <div class="col-sm-12 d-flex justify-content-center">
          <h3>申し訳ございません。システムエラーが発生しました。</h3>
        </div>
    </div>
</div>
