<div class="container">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
          <h1>404 Not Found</h1>
        </div>
        <div class="col-sm-12 d-flex flex-column align-items-center">
          <h3>指定されたページは見つかりません。</h3>
          <h3><%= request.env["REQUEST_URI"] %></h3>
        </div>
    </div>
</div>