@import "shared/colors";

.user-header {
    .logo-mark {
      font-family: 'Baloo Tammudu 2', cursive;
      font-size: 30px;
      font-weight: 700;
      color: $blue;
    }
  
    .nav-item {
      margin: 10px;
    }
  
    .header-nav-item{
      color: $blue;
      text-decoration: none;
      font-weight: 700;
    }
  
}

.user-top-container {
    .top-items {
        color: $blue;
        display: flex;
        align-items: center;
        font-weight: 700;

        .title {
            font-size: clamp(12px, 2.1vw, 24px)
        }
        .explanation {
            font-size: clamp(12px, 2.1vw, 24px)
        }

        .login-btn {
            margin: 0 auto;
            display: block;
            width: 180px;
            text-align: center;
            border: 2px solid $blue;
            font-size: 16px;
            color: $blue;
            text-decoration: none;
            font-weight: bold;
            border-radius: 4px;
            transition: .4s;
            padding: 0px;
            &:hover {
                background-color: $blue;
                border-color: $blue;
                color: $white;
            }
        }
    }
}

// ユーザーログイン画面
.user-login-form-container {
    height: 400px;
    .user-login-form {
        width: 600px;

    }

    .btn-login {
        color: $blue;
        width: 100%;
        background-color: $white;
        border: solid 2px $blue;
        border-radius: 3px;
        transition: .4s;
        font-weight: bold;

        &:hover {
            background: $blue;
            color: $white;
            cursor: pointer;
          }
        
    }

}