<header class="staff_header">
  <div class="left">
    <%= link_to staff_root_path, class: "link link_style_none" do %>
      <span class="logo-mark">
        <i class="fas fa-toilet-paper"></i>
        toiletter
      </span>
    <% end %>
  </div>
  <nav class="right">
    <ul calss="header__ul">
      <li class="header_nav_list"><%= link_to "ログイン", "#", class: "header_link" %></li>
      <li class="header_nav_list">
        <%= link_to "#", class: "btn-login" do %>
          ログイン
        <% end %>
      </li>
    </ul>
  </nav>
</header>