<header class="user_header">
  <div class="left">
    <span class="logo-mark">
      <i class="fas fa-toilet-paper"></i>
      toiletter
    </span>
  </div>
  <nav class="right">
    <ul calss="header__ul">
      <li class="header_nav_list"><%= link_to "ログイン", "#", class: "header_link" %></li>
    </ul>
  </nav>
</header>