<header class="user-header">
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
      <ul class="navbar-nav">
        <%= link_to user_root_path, class: "link link_style_none" do %>
          <span class="logo-mark">
            <i class="fas fa-toilet-paper"></i>
            toiletter
          </span>
        <% end %>
      </ul>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="header-nav-item" href="#">トイレを探す</a>
          </li>
          <% unless current_user %>
          <li class="nav-item">
            <%= link_to "ログイン", user_login_path, class: "header-nav-item" %>
          </li>
          <% else %>
           <li class="nav-item">
             <%= link_to "ログアウト", user_session_path, method: :delete, class: "header-nav-item" %>
           </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>