<header class="user_header">
  <div class="left">
    <%= link_to user_root_path, class: "link link_style_none" do %>
      <span class="logo-mark">
        <i class="fas fa-toilet-paper"></i>
        toiletter
      </span>
    <% end %>  
  </div>
  <nav class="right">
    <ul calss="header__ul">
      <li><%= link_to "トイレを探す", "#", class: "header_link" %></li>
      <li>
        <%= link_to "#", class: "header_link" do %>
          ログイン
        <% end %>
      </li>
    </ul>
  </nav>
</header>